#boardSizeInputs {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px auto;
}

#boardSizeInputs input {
    margin: 2px;
    padding: 5px;
    border: 2px solid lightblue;
    border-radius: 5px;
}

#boardSizeInputs button {
    margin: 0;
}

#board {
    margin: 20px;
}

#board .row {
    height: 64px;
}

#board .col {
    margin: 2px;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    padding: 20px;
}

button {
    margin: 5px;
    padding: 5px;
    background-color: cornflowerblue;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    transition-duration: 0.3s;
    cursor: pointer;
}

button:hover {
    border-color: black;
}